/* Mobile-only scaling (screens 768px wide or smaller) */
@media screen and (max-width: 480px) and (pointer: coarse) {
  article {
    /* CSS Zoom scales down text, images, and nested elements proportionally */
    zoom: 0.8;
  
  margin-top: 20px;       
  clear: both;            
  position: relative;     
  z-index: 1;
  }
}

.katex, .katex-display {
    font-size: 1.5em;  
}

/* Make markers in ordered list bigger */
article ol ::marker {
  font-size: 1.2em; 
}

article ol li {
  padding-left: 0.3em;
}