<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

<script type="text/javascript">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],  // Inline math
      displayMath: [['$$', '$$'], ['\\[', '\\]']],  // Block math
      processEscapes: true
    }
  });
</script>


{% include header.html %}

<article>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        {{ content }}
      </div>
    </div>
  </div>
</article>

{% include footer.html %}